@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --primary-color: #E7003E;
    --disc-yellow: #245c39;
    --disc-blue: #363636;
    --popup-color: #EEE9E9;
    --screen-color-on: #668b03;
    --screen-color-off: #465714;
    --game-boy-color: #b4b0af;
    --font-default-game: 'Press Start 2P', cursive;

    --led-player-on: #ff0000;
    --led-player-off: #1f0000;
}

section#game-boy{
    grid-area: main;
    width: 450px;
    height: 680px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem auto;
    background-color: var(--game-boy-color);
    border-radius: 0.2rem 0.2rem 6rem 1rem;
    box-shadow: 15px 15px 15px grey;
}

div#screen{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 390px;
    height: 300px;
    background-color: #565763;
    border-radius: 1rem 1rem 4rem 1rem;
    margin: 1rem auto;
    margin-bottom: 0;
    border: 0.1px solid;
    box-shadow: 0px 0px 4px black;
}

div#selecao-atual{
    margin: 0rem auto;
    padding: 0.7rem;
    padding-top: 0;
    padding-bottom: 0;
}

#tabela_do_jogo{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
    background-color: var(--screen-color-off);
    padding: 0.5rem;
    position: relative;
    padding-left: 35px;
}

#tabela_do_jogo:hover{
    background-color: var(--screen-color-on);
    box-shadow: 0px 0px 10px 5px #ffffff1a;
    border: 2px solid var(--screen-color-off);
}

td:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.Player1{
    background-color: var(--disc-yellow);
}
.Player1:hover{
    background-color: var(--disc-yellow);
}
.Player2{
    background-color: var(--disc-blue);
}
.Player2:hover{
    background-color: var(--disc-blue);
}

#fimDeJogo {
    background-color: var(--screen-color-off);
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 4.5rem;
    position: relative;
    padding-left: 20px;
    font-size: 30px;
    font-family: var(--font-default-game);
    text-align: center;
    display: flex;
    align-content: center;
    cursor: pointer;
}
#fimDeJogo:hover {
    background-color: var(--screen-color-on);
}
#fimDeJogo td {
    background-color: white;
}

#game_name{
    transform: rotate(-90deg);
    position: absolute;
    left: -77px;
    bottom: 110px;
    font-family: var(--font-default-game);
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    width: 207px;
    height: 27px;
}

#tabela_do_jogo td{
    border: 1px solid;
}


#reset{
    display: none;
}

#board-lig-4{
    margin: 0rem auto;
}

#base-logo{
    background-image: url('../Imagens/game-boy-classic-min-transparency.png');
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -6px;
    width: 400px;
    height: 350px;
    margin: 0rem auto;
    border-radius: 0rem 0rem 1rem 1rem;
}

div#game_menu {
    display: flex;
    flex-direction: column;
    
}

div#game_menu span{
    padding: 5px;
    text-transform: capitalize;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}

div#game_menu span.player1 {
    top: 60px;
    text-transform: uppercase;
}

div#game_menu span.player2 {
    top: 130px;
    text-transform: uppercase;
}
div#game_menu span span {
    border: 1px solid black;
    border-radius: 100%;
    padding: 0px;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 20px;
}

div#game_menu span.player1 span{
    background-color: var(--led-player-off);
}

div#game_menu span.player2 span {
    background-color: var(--led-player-off);  
}

div#game_menu span.player1 span.selected {
    background-color: var(--led-player-on);
    box-shadow: 0px 0px 20px 5px red;
    border: 1px solid rgb(200, 1, 1);
}
div#game_menu span.player2 span.selected {
    background-color: var(--led-player-on);
    box-shadow: 0px 0px 20px 5px red;
    border: 1px solid rgb(200, 1, 1);
}
div#game_menu span.music{
    top: 200px;
    left: 35px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
div#game_menu span.music span.on{
    background-image: url('../Imagens/audio-on-min.png');
    left: 15px;
    border: none;
}
div#game_menu span.music span.off{
    background-image: url('../Imagens/audio-off-min.png');
    left: 15px;
    border: none;
}

